
.jumbotron {
	color:#1abc9c;
	margin-bottom: 10px;
}

.header {
	color:#1abc9c;
}

.center-block {
	align: center;
}

h1 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-style: normal;
	font-variant: normal;
	line-height: 26.4px;
	font-size: 40px;
	color: #086788;
}

h2 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 20px;
}

h5 {
	font-size: 20px;
	margin-top: 10px;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;

}


button {
	color: forestgreen;
	background-color: white; 
	font-size: 15px;
}

ul {
	list-style-type: none; 
}

#submit, 
#prepare {
	background-color: #1abc9c;

}

#pizzaimage {

	max-width: 100px;
	max-height: 100px; 
	align: center; 
}
